:root {
    --primary-color: #478C4F;
    --secondary-color: #478C4F;
    --accent1-color: #FBFBFF;
    --accent2-color: #F8F1E3;

    --heading-font: 'Anton', serif;
    --paragrah-font: 'Gabarito', serif;

    --nav-background-color: #E7DFC6;
    --nav-link-color: #176087;
    --nav-hover-link-color: #1D84B5;
    --nav-hover-background-color: #FFFFFF;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

h3 {
    color: #111;
}

header {
    background-color: var(--accent1-color);
    margin: 1px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #111;
    max-width: 1000px;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

.hero {
    position: relative;
    margin: 10px auto;
    height: auto;
    object-fit: contain;
}

.hero img {
    width: 100%;
    height: auto;
    position: relative;

}

.hero h1 {
    position: absolute;
    left: 470px;
    font-size: 1.5rem;
    color: #478C4F;
}


article {
    width: 100%;
    background-color: #F8F1E3;
    font-family: var(--paragrah-font);
    opacity: 0.8;
}


.navigation a {
    display: none;
    color: #478C4F;
    text-decoration: none;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    padding: 1rem;
}

.navigation a:hover {
    background-color: #bbb;
    color: brown;
    font-weight: 700;
}

.adventure {
    background-color: var(--accent1-color);
}

.adventure img {
    width: 150px;
    height: 150px;
    text-align: center;
}


footer {
    display: block;
    margin: 1px auto;
    width: 650px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--paragrah-font);
    color: black;
    border-top: 1px solid #111;
}



button {
    margin: 1rem;
    padding: 1rem;
    color: #000;
    background-color: azure;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 10px;
    top: 1px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.open a {
    display: block;
}

button:hover {
    background-color: brown;
}

.discover {
    display: grid;
    grid-template-columns: 1fr;
}

/*.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    width: 25%;
}*/

.sidebar span {
    font-family: var(--heading-font);
    color: navy;
    font-size: 2rem;
}

.hf fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem 2%;
}

.hf legend {
    color: navy;
    padding: 0.5rem;
}

.hf label {
    display: block;
    padding-top: 1rem;
    color: navy;
    font-size: 0.9rem;
    font-family: var(--paragrah-font);
}

.hf div {
    padding-top: 1rem;
    color: navy;
    font-size: 0.9rem;
}

.hf input[type="text"],
.hf input[type="tel"],
.hf input[type="email"],
.hf input[type="hidden"],
.hf select,
.hf input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px var(--accent1-color);
    border-radius: 6px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.hf textarea {
    display: block;
    border: solid 3px black;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    width: 50%;
    height: 50%
}

.hf input[type="submit"] {
    border: none;
    background-color: black;
    color: #eee;
    border-radius: 6px;
    padding: 0.8rem;
    width: 90%;
    margin: 1rem 2% 1rem 2%;
    font-family: var(--paragrah-font);
}

table {
    margin: 10px auto;
    border: thin solid var(--accent1-color);
    box-shadow: 0 0 10px;
    border-collapse: collapse;
    width: 100%;
    object-fit: contain;
}

tr:first-child th {
    background-color: navy;
    color: #eee;
}

th,
td {
    padding: 7px 15px;
    border: 1px solid;
}

th {
    background-color: navy;
    font-size: larger;
    color: #eee;
}

td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--accent2-color);
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--accent1-color);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.cards section {
    text-align: center;
}

.cards img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.cards h2 {
    font-family: var(--heading-font);
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}


.list section img {
    display: none;
}


.list section:nth-child(even) {
    background-color: #bed;
}

section a {
    font-family: var(--paragrah-font);
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--primary-color);
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
    color: black;
}



#card div {
    text-align: center;
}

#card p,
#card figcaption {
    font-family: var(--paragrah-font);
}

.banner {
    background: var(--primary-color);
}

.banner div {
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner p {
    line-height: 1.4;
    font-family: var(--paragrah-font);
    font-size: 1.2rem;
}



.banner p,
.banner span {
    color: #ffffff;
}