@media screen and (min-width: 700px) {
    .navigation {
        display: flex;
    }

    .navigation a {
        display: block;
        text-align: center;
        flex: 1 1 100%;
    }

    .adventure {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: 24px;
    }

    .hover:hover {
        box-shadow: 0 0 50px #333;
    }

    #menu {
        display: none;
    }
}